$height: 32px;
.NavLinkItem {
  margin: 10px 0;
  box-sizing: border-box;
  display: block;
  width: 200px;
  text-align: center;
  height: 30px;
  a {
    color: #eee;
    text-decoration: none;
    display: block;
    height: 100%;
  }
  a:hover {
    color: #111;
    background-color: #01b4e4;
  }
  a:active {
  }
  a.active {
    color: #111;
    background-color: #01b4e4;
    text-decoration: underline;
  }
}
