$height : 20px;
.Peak{
   // padding-top: 10px;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    color:white;
  div{
      margin-right: 20px;
      height: $height;
      cursor: pointer;
  }
    input {
        height: $height;
    }
    select, button{
        height: $height + 6;
        min-width: 70px
    }

}