$height : 20px;
.Peak{
   // padding-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    color:white;
  div{
      margin-right: 20px;
      height: $height;
      cursor: pointer;
  }
    input {
        height: $height;
    }
    select, button{
        height: $height + 6;
        min-width: 70px
    }

}

@media  screen and (max-width:1000px) {
    .Peak{
        display: block;
    }
    
}