.Top250element{
    width: 100%;
    background-color: #ccc;
    color : #7E5208;
    margin-top:20px;
    border: 2px solid black;
    display: flex;
    .Info{
        text-align: center;
        width: 100%;
    }
    img{
        height: 200px;
        margin : 5px;
        border: 2px solid black;
    }
    h2, h3 {
        margin: 5px 0 0 0 ;
    }
}